{% extends 'base.html' %}

{% block content %}
<h1>Lootlist Validator</h1>
<ul class="list-group">
{% for item in lootlist %}
    {% for key in item %}
    <li class="list-group-item">{{ key }} {{ item[key] }}</li>
    {% endfor %}
{% endfor %}
{% if valid in defined %}
<h1>Validity: {{ valid }}</h1>
{% endif %}
{% for bracket in error %}
    {% for line in error[bracket] %}
<div class="alert alert-danger" role="alert">
    {{ bracket }} : {{ line }}
  </div>
</ul>
    {% endfor %}
{% endfor %}
{% endblock content %}
